/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

 @keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

@keyframes nm-blink-critical {
    20% {
      color: white;
    }

    to {
        color: #e5a50a;
    }
}

@keyframes ws-blink-critical {
    20% {
      color: #888888;
      text-shadow: 0 0;
    }

    to {
        color: #e5a50a;
        text-shadow: 0 0 2px #e5a50a, 0 0 4px #e5a50a, 0 0 6px #e5a50a, 0 0 8px #e5a50a, 0 0 10px #e5a50a;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 1px;
}

/* The whole bar */
#waybar {
    background: #303030;
    color: white;
    font-family: Cantarell, Ubuntu Nerd Font, sans-serif;
    font-size: 18px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#bluetooth,
#backlight,
#temperature,
#tray {
    padding-top: 4px;
    padding-bottom: 4px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#bluetooth.disabled {
    color: #888888;
}

#bluetooth.on {
    color: white;
}

#bluetooth.off {
    color: #888888;
}

#bluetooth.connected {
    color: #3584e4;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
    font-size: 12px;
}

#network.disconnected {
    animation-name: nm-blink-critical;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-timing-function: steps(120);
}

#workspaces button {
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    color: #888888;
    border-radius: 100%;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
}

#workspaces button.active {
    color: white;
    font-weight: bolder;
}

#workspaces button.urgent {
    animation-name: ws-blink-critical;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-direction: alternate;
    font-weight: bolder;
    animation-timing-function: steps(120);
}